<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creare Plan de Învățământ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <h1 class="text-center">Creare Plan de Învățământ</h1>
  </div>
</header>

<main class="container py-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
		<form action="/planInvatamantLicenta-edit/{id}" th:action="@{/planInvatamantLicenta-edit/{id}(id=${planInvatamantLicenta.id})}" method="post">
		  <div class="mb-3">
		    <label for="universitate" class="form-label">Universitate</label>
		    <input type="text" class="form-control" id="universitate" name="universitate" th:value="${planInvatamantLicenta.universitate}" required>
		  </div>
		  <div class="mb-3">
		    <label for="facultate" class="form-label">Facultate</label>
		    <input type="text" class="form-control" id="facultate" name="facultate" th:value="${planInvatamantLicenta.facultate}" required>
		  </div>
        <div class="mb-3">
          <label for="domeniuFundamental" class="form-label">Domeniu Fundamental</label>
          <input type="text" class="form-control" id="domeniuFundamental" name="domeniuFundamental" th:value="${planInvatamantLicenta.domeniuFundamental} required>
        </div>
        <div class="mb-3">
          <label for="ramuraDeStiinta" class="form-label">Ramura de Știință</label>
          <input type="text" class="form-control" id="ramuraDeStiinta" name="ramuraDeStiinta" th:value="${planInvatamantLicenta.ramuraDeStiinta} required>
        </div>
        <div class="mb-3">
          <label for="domeniuDeLicenta" class="form-label">Domeniu de Licență</label>
          <input type="text" class="form-control" id="domeniuDeLicenta" name="domeniuDeLicenta" th:value="${planInvatamantLicenta.domeniuDeLicenta} required>
        </div>
        <div class="mb-3">
          <label for="programDeStudiiLicenta" class="form-label">Program de Studii Licență</label>
          <input type="text" class="form-control" id="programDeStudiiLicenta" name="programDeStudiiLicenta" th:value="${planInvatamantLicenta.programDeStudiiLicenta} required>
        </div>
        <div class="mb-3">
          <label for="codDomeniuFundamental" class="form-label">Cod Domeniu Fundamental</label>
          <input type="number" class="form-control" id="codDomeniuFundamental" name="codDomeniuFundamental" th:value="${planInvatamantLicenta.codDomeniuFundamental} required>
        </div>
        <div class="mb-3">
          <label for="codRamuraDeStiinta" class="form-label">Cod Ramură de Știință</label>
          <input type="number" class="form-control" id="codRamuraDeStiinta" name="codRamuraDeStiinta" th:value="${planInvatamantLicenta.codRamuraDeStiin} required>
        </div>
        <div class="mb-3">
          <label for="codDomeniuDeLicenta" class="form-label">Cod Domeniu de Licență</label>
          <input type="number" class="form-control" id="codDomeniuDeLicenta" name="codDomeniuDeLicenta" th:value="${planInvatamantLicenta.codDomeniuDeLicenta} required>
        </div>
        <div class="mb-3">
          <label for="codStudii" class="form-label">Cod Studii</label>
          <input type="number" class="form-control" id="codStudii" name="codStudii" th:value="${planInvatamantLicenta.codStudii} required>
        </div>
        <div class="mb-3">
          <label for="ciclu" class="form-label">Ciclu</label>
          <input type="text" class="form-control" id="ciclu" name="ciclu" th:value="${planInvatamantLicenta.ciclu} required>
        </div>
        <div class="mb-3">
          <label for="codulProgramuluiDeStudii" class="form-label">Codul Programului de Studii</label>
          <input type="number" class="form-control" id="codulProgramuluiDeStudii" name="codulProgramuluiDeStudii" th:value="${planInvatamantLicenta.codulProgramuluiDeStudii} required>
        </div>
        <div class="mb-3">
          <label for="anCalendaristic" class="form-label">An Calendaristic</label>
          <input type="number" class="form-control" id="anCalendaristic" name="anCalendaristic" th:value="${planInvatamantLicenta.universitate} required>
        </div>
		<button type="submit" class="btn btn-primary">Actualizează</button>
		  <a href="/" class="btn btn-secondary">Anulează</a>
      </form>
    </div>
  </div>
</main>

<footer class="text-muted py-3 bg-light text-center">
  <p>&copy; 2024 Universitatea Example</p>
</footer>
</body>
</html>
